@import "header";

*, *::before , *::after{
    padding:0;
    margin:0;
    box-sizing:border-box;
}

.container{
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
}
section{
    padding: 40px 0;
    text-align: center;
}
.features{
    background-color: #fff;
    color: #000;

    .feature{
        width:32%;
        display:inline-block;
        font-size: 16px;

        img{
            width: 40%;
        }
        p{
            font-size: 20px;
            letter-spacing: 2px;
            margin: 10px 0 0 0 ;
        }
    }
}
.quote{
    background-color: #549DA0;
    color: #fff;

    blockquote{
        margin: 0;
        padding: 0;
        text-align: center;

        p{
            margin: 0 0 5px 0;
            font-size: 24px;
        }

        cite{
            font-size: 16px;
            font-style: italic;

            &:before{
                content: "-";
                margin-right: 5px;
            }
        }
    }
}
footer{
    background-color: #353535;
    padding: 32px 0;
    text-align: center;
    color: #868686;
    font-size: 12px;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;

        li{
            display: inline-block;

            a{
                padding: 6px;
                font-size: 14px;
                text-decoration: none;
                color: #c3c3c3;


                &:hover{
                    color: white;
                }
            }
        }
    }
}

@import "mediaQuery";
